discord.py
pyfiglet
wikipedia
mtranslate
speedtest-cli
giphypop
cffi
pynacl
aiohttp
python-nmap
random-cat
pythonwhois
importlib
youtube-dl
pygame
wavelink
pillow
pymongo
geopy
psutil
steam
lxml
cowpy
fortune
python-twitch-client
google-api-python-client
pyparsing