colorlog
discord.py
pyfiglet
pyquery
colorlog
wikipedia
mtranslate
speedtest-cli
giphypop
cffi
pyparsing
pynacl
aiohttp
python-nmap
random-cat
pythonwhois
youtube-dl
wavelink
pillow
pymongo
geopy
psutil
steam
cowpy
fortune
python-twitch-client
google-api-python-client
timeago