discord.py
pyfiglet
pyquery
cowpy
colorlog
wikipedia
humanize
praw
motor
python-dotenv
giphypop
cffi
dnspython
scikit-image
opencv-python-headless
pyparsing
pynacl
h2==3.2.0
PyYAML
sentry_sdk
emoji
aiohttp==3.6.2
random-cat
pythonwhois
youtube-dl
wavelink
pillow
pymongo
geopy
psutil
pendulum
fortune
timeago
buttons
googletrans==3.1.0a0
